<a href="https://colab.research.google.com/github/jaeseung11/cording_dojang/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%BD%94%EB%94%A9%EB%8F%84%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UNIT 1

## 소프트웨어 교육과 파이썬

1. 문제 해결을 위한 과학적 사고 -> 복잡한 문제를 작은 문제로 분해

2. 컴퓨터 사고

문제의 해결랙 -> 컴퓨터 명령어

즉, 작은 문제로 분해하고, 문제의 패턴을 발견하고, 어떤 데이터를 이용해야 하는지 결정하고, 문제를 일반화

# UNIT 4
기본 문법 알아보기

In [ ]:
print("Hell, world")

Hell, world

In [ ]:
print("Hello"); print('1234')

Hello
1234

In [ ]:
보통 블록 주서을 작성할때 코드를 읽기 쉽도록 # 뒤에 공백을 한칸 띄웁니다.

 # 더하기
# a = 1 + 2
# print('hello, world')

# UNIT 29

함수 사용하기

# UNIT 30

함수에서 위치 인수와 키워드 인수 사용하기

In [1]:
# 위치인수와 리스트 언패킹 사용하기

print(10,20,30)

10 20 30

In [3]:
def print_numbers(a,b,c):
    print(a)
    print(b)
    print(c)

print_numbers(10,20,30)

10
20
30

In [9]:
# 언패킹 사용하기 : 인수를 순서대로 넣을 때는 리스트나 튜플을 사용할 수도 있다. 다음과 같이 리스트 또는 튜플 앞에 * 를 붙여서 함수에 넣어주면 된다.
# 함수(*리스트)
# 함수(*튜플)

x = [10, 20, 30]
print_numbers(*x) # 사용자 함수에 인수를 넣을때는 리스트 포장을 풀어야 한다. 꼭 *의 의미는 포장을 푼다는 것이다.
print_numbers(*[10,20,30])

# 단 이때 함수의 매개변수 개수와 리스트의 요소 개수는 같아야 한다. 반드시

10
20
30
10
20
30

In [10]:
# 가변 인수 함수 만들기
def 함수이름(*매개변수): # 함수에 인수 한개를 넣을수도 있고, 열개를 넣을수도 있고 안넣을수도 있다.
    코드

def print_numbers(*args):
    for arg in args:
        print(arg)

In [13]:
print_numbers(10)

print_numbers(10, 20, 30, 40, 30, 50)

10
10
20
30
40
30
50

In [16]:
x = [10]
print_numbers(*x)

y = [10, 20, 30, 40]
print_numbers(*y)

10
10
20
30
40

In [19]:
# 고정인수와 가변 인수를 함께 사용하기

def print_numbers(a, *args):
    print(a)
    print(args)

print_numbers(1)
print_numbers(1,10,20)
print_numbers(*[10,20,30])

1
()
1
(10, 20)
10
(20, 30)

In [ ]:
# 키워드 인수 사용하기

# UNIT 34
클래스 사용하기

In [ ]:
특정한 개념이나 모양으로 존재하는 것을 객체라고 부릅니다.
클래스는 객체를 표현하기 위한 문법이다.
프로그래밍으로 객체를 만들때 사용하는 것이 클래스입니다.
속성과 메서드
객체지향 프로그래밍은 복잡한 문제를 잘게 나누어 객체로 만들고, 객체를 조합해서 문제를 해결합니다. 따라서 현실세계의 복잡한 문제를 처리하는데 유용하며 기능을 개선하고 발전시킬때도 해당 클래스만 수정되면 되므로 유지보수에도 효율적입니다.
클래스의 이름은 대문자로 시작합니다.
들여쓰기 규칙 if, for, while과 같다.
메서드의 첫번째 매개변수는 반드시 self를 지정해야 합니다.

In [ ]:
class 클래스이름:
    def 메서드(self):
        코드

In [ ]:
class Person:
    def greeting(self):
        print('hello')

In [ ]:
james = Person() # 클래스는 특정 개념을 표현할뿐 사용을 할려면 인스턴스를 생성해야 한다.

In [ ]:
james.greeting()

hello

In [ ]:
a = int(10)
a

b = list(range(10))
b

c = dict(x=10, y=20)
c

{'x': 10, 'y': 20}

In [ ]:
a = 10
type(a)

maria = Person()
type(maria)

# 사실 객체와 인스턴스는 같은 뜻이다.

__main__.Person

In [ ]:
# 빈클래스 만들기

class Person:
    pass

In [ ]:
# 메서드 안에서 메서드 호출하기

class Person:
    def greeting(self):
        print('hello')

    def hello(self):
        self.greeting()  # self.메서드() 형식으로 클래스 안의 메서를 호출

james = Person()
james.hello()

hello

In [ ]:
# 특정 클래스의 인스턴스인지 확인하기

class Person:
    pass

james = Person()
isinstance(james, Person)

True

In [ ]:
def factorial(n):
    if not isinstance(n, int) or n < 0: # n이 정수가 아니거나 음수이면 함수를 끝냄
        return None
    
    if n == 1:
        return 1
    
    return n * factorial(n-1)

In [ ]:
# 속성 사용하기

class 클래스이름:
    def __init__(self):
        self.속성 = 값

In [ ]:
class Person:
    def __init__(self):
        self.hello = '안녕하세요'

    def greeting(self):
        print(self.hello)

james = Person()
james.greeting()

# 클래스 속성을 사용할때도 self.hello처럼 self에 점을 붙여서 사용하면 된다.

안녕하세요

In [ ]:
# self는 인스턴스 자기자신을 의미한다.

In [ ]:
# 인스턴스를 만들때 값을 받는 방법 알아보기

class 클래스이름:
    def __init__(self, 매개변수1, 매개변수2):
        self.속성1 = 매개변수1
        self.속성2 = 매개변수2

In [ ]:
class Person:
    def __init__(self, name, age, address):
        self.hello = '안녕하세요'
        self.name = name
        self.age = age
        self.address = address
    
    def greeting(self):
        print('{} 저는 {} 입니다.' .format(self.hello, self.name))

maria = Person('마리아', 20, "서울시 서초구 반포동")
maria.greeting()

print("이름:", maria.name) # 인스턴스.속성
print('나이:', maria.age)  # 인스턴스.속성
print('주소:', maria.address) # 인스턴스.속성

############ maria == Person == self 이다. #####################

안녕하세요 저는 마리아 입니다.
이름: 마리아
나이: 20
주소: 서울시 서초구 반포동

In [ ]:
# 클래스의 위치인수

class Person:
    def __init__(self, *args):
        self.name = args[0]
        self.age = args[1]
        self.address = args[2]

maria = Person(*['마리아', 20, "서울시 서초구 반포동"])

In [ ]:
# 클래스의 키워드인수

class Person:
    def __init__(self, **kwargs):
        self.name = kwargs['name']
        self.age = kwargs['age']
        self.address = kwargs['address']

maria1 = Person(name='마리아', age= 20, address= "서울시 서초구 반포동")
maria2 = Person(**{'name': '마리아', 'age': 20, 'address': '서울시 서초구 반포동'})